body {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* We'll never use an <a/> tag so we might as well prevent that styling from the top level. */
a {
  text-decoration: none;
  color: black;
}
